<h1><center><font color=´greem'>Prueba - Python para el análisis de datos</font></center></h1>
<hr>
<h2><center><font color='purple'> Rodrigo Arriaza Rojas </font></center></h2>

#Examen Final - Programación en Python

Este notebook contiene la solución al examen final del módulo de Programación en Python del curso de Analista de Datos en Desafío Latam.  
Incluye operaciones CRUD simples, uso de estructuras de control y manejo de datos mediante diccionarios.

In [3]:
#1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas completas desde la base de datos
#  en dataframes independientes (funcion en funciones.py)

#Importando librerias
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import funciones


# Creando la conexión a la base de datos
try:
    engine = create_engine("postgresql://postgres:1337@localhost:5432/classicmodels")
    print("Conexión a la base de datos exitosa.")
except Exception as e:
    print(f"Error al conectar: {e}")

Conexión a la base de datos exitosa.

In [4]:
from funciones import leer_tabla
# Cargando el DataFrame usando la función leer_tabla desde funciones.py

#intentar cargar las tablas:
try:
    df_orders = leer_tabla("orders", engine)
    df_orderdetails = leer_tabla("orderdetails", engine)
    df_customers = leer_tabla("customers", engine)
    df_products = leer_tabla("products", engine)
    df_employees = leer_tabla("employees", engine)

#de lo contrario, mostrara el error
except Exception as e:
    print(f"Error al cargar el DataFrame: {e}")

In [5]:
#visualizacion de DF

print(df_orderdetails)
print(df_orders)
print(df_customers)
print(df_products)
print(df_employees)

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

[2996 rows x 5 columns]
     orderNumber   orderDate requiredDate shippedDate      status  \
0          10100  2003-01-06   2003-01-13  2003-01-10     Shipped
1          10101  2003-01-09   2003-01-18  2003-01-11     Shipped
2          10102  2003-01-10   2003-01-18  2003-01-14     Shipped
3          10103  2003-01-29   2003-02-07  2003-02-02     Shipped
4          10104  2003-01-31   2003-02-09  2003-02-01     Shipped
..           ...         ...          ...         ...         ...
321        10421  2005-05-29   2005-06-06        None  In Process
322        10422  2005-05-30   2005-06-11        None  In Process
323        10423  2005-05-30   2005-06-05        None  In Process
324        10424  2005-05-31   2005-06-08        None  In Process
325        10425  2005-05-31   2005-06-07        None  In Process

                                              comments  customerNumber
0                                                 None             363
1                               Check on availability.             128
2                                                 None             181
3                                                 None             121
4                                                 None             141
..                                                 ...             ...
321  Custom shipping instructions were sent to ware...             124
322                                               None             157
323                                               None             314
324                                               None             141
325                                               None             119

[326 rows x 7 columns]
     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0           None        Nantes      None      44000       France
1           None     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3           None        Nantes      None      44000       France
4           None       Stavern      None       4110       Norway
..           ...           ...       ...        ...          ...
117         None  Philadelphia        PA      71270          USA
118         None      Brisbane        CA      94217          USA
119         None        London      None    WA1 1DP           UK
120         None        Boston        MA      51003          USA
121         None    Auckland        None       None  New Zealand

     salesRepEmployeeNumber  creditLimit
0                    1370.0      21000.0
1                    1166.0      71800.0
2                    1611.0     117300.0
3                    1370.0     118200.0
4                    1504.0      81700.0
..                      ...          ...
117                  1323.0      72600.0
118                  1165.0      60300.0
119                  1501.0      43300.0
120                  1188.0      85100.0
121                  1612.0     110000.0

[122 rows x 13 columns]
    productCode                            productName   productLine  \
0      S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1      S10_1949               1952 Alpine Renault 1300  Classic Cars
2      S10_2016                  1996 Moto Guzzi 1100i   Motorcycles
3      S10_4698   2003 Harley-Davidson Eagle Drag Bike   Motorcycles
4      S10_4757                    1972 Alfa Romeo GTA  Classic Cars
..          ...                                    ...           ...
105   S700_3505                            The Titanic         Ships
106   S700_3962                         The Queen Mary         Ships
107   S700_4002              American Airlines: MD-11S        Planes
108    S72_1253                       Boeing X-32A JSF        Planes
109    S72_3212                             Pont Yacht         Ships

    productScale              productVendor  \
0           1:10            Min Lin Diecast
1           1:10    Classic Metal Creations
2           1:10   Highway 66 Mini Classics
3           1:10          Red Start Diecast
4           1:10    Motor City Art Classics
..           ...                        ...
105        1:700   Carousel DieCast Legends
106        1:700  Welly Diecast Productions
107        1:700        Second Gear Diecast
108         1:72    Motor City Art Classics
109         1:72       Unimax Art Galleries

                                    productDescription  quantityInStock  \
0    This replica features working kickstand, front...             7933
1    Turnable front wheels; steering function; deta...             7305
2    Official Moto Guzzi logos and insignias, saddl...             6625
3    Model features, official Harley Davidson logos...             5582
4    Features include: Turnable front wheels; steer...             3252
..                                                 ...              ...
105  Completed model measures 19 1/2 inches long, 9...             1956
106  Exact replica. Wood and Metal. Many extras inc...             5088
107  Polished finish. Exact replia with official lo...             8820
108  10" Wingspan with retractable landing gears.Co...             4857
109  Measures 38 inches Long x 33 3/4 inches High. ...              414

     buyPrice    MSRP
0       48.81   95.70
1       98.58  214.30
2       68.99  118.94
3       91.02  193.66
4       85.68  136.00
..        ...     ...
105     51.09  100.17
106     53.63   99.31
107     36.27   74.03
108     32.77   49.66
109     33.30   54.60

[110 rows x 9 columns]
    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056  Patterson      Mary     x4611
2             1076   Firrelli      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com          1        NaN
1    mpatterso@classicmodelcars.com          1     1002.0
2    jfirrelli@classicmodelcars.com          1     1002.0
3   wpatterson@classicmodelcars.com          6     1056.0
4      gbondur@classicmodelcars.com          4     1056.0
5         abow@classicmodelcars.com          1     1056.0
6    ljennings@classicmodelcars.com          1     1143.0
7    lthompson@classicmodelcars.com          1     1143.0
8    jfirrelli@classicmodelcars.com          2     1143.0
9   spatterson@classicmodelcars.com          2     1143.0
10      ftseng@classicmodelcars.com          3     1143.0
11     gvanauf@classicmodelcars.com          3     1143.0
12     lbondur@classicmodelcars.com          4     1102.0
13   ghernande@classicmodelcars.com          4     1102.0
14   pcastillo@classicmodelcars.com          4     1102.0
15       lbott@classicmodelcars.com          7     1102.0
16      bjones@classicmodelcars.com          7     1102.0
17     afixter@classicmodelcars.com          6     1088.0
18      pmarsh@classicmodelcars.com          6     1088.0
19       tking@classicmodelcars.com          6     1088.0
20      mnishi@classicmodelcars.com          5     1056.0
21       ykato@classicmodelcars.com          5     1621.0
22     mgerard@classicmodelcars.com          4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [6]:
#2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el parámetro validate 
# para asegurar la integridad referencial

#merge de DF, solo el primero se puede hacer one to many porque los demas no tienen ID unica
df_merge = df_orders.merge(df_orderdetails, left_on='orderNumber', right_on='orderNumber', validate='one_to_many')
df_merge = df_merge.merge(df_customers, left_on='customerNumber', right_on='customerNumber', validate='many_to_one')
df_merge = df_merge.merge(df_products, left_on='productCode', right_on='productCode', validate='many_to_one')
df_merge = df_merge.merge(df_employees, left_on='salesRepEmployeeNumber', right_on='employeeNumber', validate='many_to_one')

In [7]:
print(df_merge.head(10))

   orderNumber   orderDate requiredDate shippedDate   status  \
0        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
1        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
2        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
3        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
4        10101  2003-01-09   2003-01-18  2003-01-11  Shipped
5        10101  2003-01-09   2003-01-18  2003-01-11  Shipped
6        10101  2003-01-09   2003-01-18  2003-01-11  Shipped
7        10101  2003-01-09   2003-01-18  2003-01-11  Shipped
8        10102  2003-01-10   2003-01-18  2003-01-14  Shipped
9        10102  2003-01-10   2003-01-18  2003-01-14  Shipped

                 comments  customerNumber productCode  quantityOrdered  \
0                    None             363    S18_1749               30
1                    None             363    S18_2248               50
2                    None             363    S18_4409               22
3                    None             363    S24_3969               49
4  Check on availability.             128    S18_2325               25
5  Check on availability.             128    S18_2795               26
6  Check on availability.             128    S24_1937               45
7  Check on availability.             128    S24_2022               46
8                    None             181    S18_1342               39
9                    None             181    S18_1367               41

   priceEach  ...  buyPrice    MSRP employeeNumber   lastName firstName  \
0     136.00  ...     86.70  170.00           1216  Patterson     Steve
1      55.09  ...     33.30   60.54           1216  Patterson     Steve
2      75.46  ...     43.26   92.03           1216  Patterson     Steve
3      35.29  ...     21.75   41.03           1216  Patterson     Steve
4     108.06  ...     58.48  127.13           1504      Jones     Barry
5     167.06  ...     72.56  168.75           1504      Jones     Barry
6      32.53  ...     22.57   33.19           1504      Jones     Barry
7      44.35  ...     20.61   44.80           1504      Jones     Barry
8      95.55  ...     60.62  102.74           1286      Tseng  Foon Yue
9      43.13  ...     24.26   53.91           1286      Tseng  Foon Yue

  extension                            email officeCode reportsTo   jobTitle
0     x4334  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
1     x4334  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
2     x4334  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
3     x4334  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
4      x102      bjones@classicmodelcars.com          7    1102.0  Sales Rep
5      x102      bjones@classicmodelcars.com          7    1102.0  Sales Rep
6      x102      bjones@classicmodelcars.com          7    1102.0  Sales Rep
7      x102      bjones@classicmodelcars.com          7    1102.0  Sales Rep
8     x2248      ftseng@classicmodelcars.com          3    1143.0  Sales Rep
9     x2248      ftseng@classicmodelcars.com          3    1143.0  Sales Rep

[10 rows x 39 columns]

In [8]:
#3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada

df_merge['venta'] = df_merge['quantityOrdered'] * df_merge['priceEach']
df_merge['costo'] = df_merge['quantityOrdered'] * df_merge['buyPrice']
df_merge['ganancia'] = df_merge['venta'] - df_merge['costo']

#visualizacion de tablas
print(df_merge['venta'])
print(df_merge['costo'])
print(df_merge['ganancia'])

0       4080.00
1       2754.50
2       1660.12
3       1729.21
4       2701.50
         ...
2991    6261.71
2992     986.42
2993    3435.39
2994     553.52
2995    1708.56
Name: venta, Length: 2996, dtype: float64
0       2601.00
1       1665.00
2        951.72
3       1065.75
4       1462.00
         ...
2991    3005.66
2992     493.21
2993    2211.13
2994     285.78
2995    1229.22
Name: costo, Length: 2996, dtype: float64
0       1479.00
1       1089.50
2        708.40
3        663.46
4       1239.50
         ...
2991    3256.05
2992     493.21
2993    1224.26
2994     267.74
2995     479.34
Name: ganancia, Length: 2996, dtype: float64

In [9]:
#4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.

#print(df_products) #visualizando la columna con la cual vamos a trabajar

# Usando groupby para calcular el total de ventas por línea de productos
total_ventaslinea = df_merge.groupby('productLine')['venta'].sum().reset_index()

#agregando la fila de totales + la linea de producto
total_general = pd.DataFrame({'productLine':['Total'], 'venta': [df_merge['venta'].sum()]})
total_ventaslinea = pd.concat([total_ventaslinea, total_general], ignore_index=True)

print(total_ventaslinea)

        productLine       venta
0      Classic Cars  3853922.49
1       Motorcycles  1121426.12
2            Planes   954637.54
3             Ships   663998.34
4            Trains   188532.92
5  Trucks and Buses  1024113.57
6      Vintage Cars  1797559.63
7             Total  9604190.61

In [10]:
#5. ¿Cuántos clientes distintos hicieron compras?
#df_merge.head()
clientes_distintos = df_merge['customerNumber'].nunique()
print(f'{clientes_distintos} clientes diferentes hicieron compras')

98 clientes diferentes hicieron compras

In [11]:
# 6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?

#obteniendo todos los clientes desde el DF de origen

todos_clientes = set(df_customers['customerNumber'])

#Total clientes distintos con compras
clientes_distintos #obtenido del ejercicio anterior

#total clientes del dataframe original
total_clientes =  df_customers['customerNumber'].nunique()

#calculando clientes sin compras

clientes_sin_compras = total_clientes - clientes_distintos

#impresion de resultados
print(f'{clientes_sin_compras} clientes no han realizado ninguna compra')

24 clientes no han realizado ninguna compra

In [12]:
# 7. Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante el año 2005?
#top_10_clientes_2005
from funciones import filtro_2005
from funciones import generar_reporte

#filtrar los datos segun lo solicitado "2005"

#print(df_merge['orderDate'].dtype) --> fechas tipo object, hay que transformarlas a datetime
fecha_inicio = '2005-01-01'
fecha_fin = '2005-12-31'

#usando la funcion para filtrar y generar un DF
df_2005 = filtro_2005(df_merge, 'orderDate', fecha_inicio, fecha_fin)


# agrupar por cliente y calcular ventas, costo y ganancia
df_clientes = df_2005.groupby('customerName').agg({
    'venta': 'sum',
    'costo': 'sum',
    'ganancia': 'sum'
}).reset_index()

# agrupar por producto y calcular ventas, costo y ganancia 
df_productos = df_2005.groupby('productName').agg({
    'quantityOrdered': 'sum',
    'venta': 'sum',
    'costo': 'sum',
    'ganancia': 'sum'
}).reset_index()

# Ordenar y obtener el top 10 clientes
top_10_clientes = df_clientes.sort_values(by='venta', ascending=False).head(10)
# Ordenar y obtener el top 10 productos
top_10_productos = df_productos.sort_values(by='quantityOrdered', ascending=False).head(10)

# usando funcion generar_reporte
reporte_clientes = generar_reporte(df_2005,'customerName', 'productName', 'quantityOrdered', 'sum')
reporte_productos = generar_reporte(df_2005, 'productName', 'customerName', 'quantityOrdered', 'sum')

#print(reporte_clientes)
#print(reporte_productos)
print(df_clientes)
print(df_productos)

                     customerName      venta      costo   ganancia
0                    Alpha Cognac   12432.32    7648.14    4784.18
1         Anna's Decorations, Ltd   56932.30   35414.90   21517.40
2    Australian Collectables, Ltd   10945.26    7137.13    3808.13
3     Australian Gift Network, Co   21432.31   12666.83    8765.48
4               Auto Canal+ Petit   12190.85    6639.08    5551.77
5               Boards & Toys Co.    3452.75    2630.60     822.15
6      Collectables For Less Inc.   28322.83   17163.18   11159.65
7        Corporate Gift Ideas Co.   46781.66   28561.31   18220.35
8        Danish Wholesale Imports   21638.62   13641.23    7997.39
9           Diecast Classics Inc.    5849.44    3698.12    2151.32
10     Down Under Souveniers, Inc   75020.13   46389.52   28630.61
11        Dragon Souveniers, Ltd.    3516.04    2944.48     571.56
12         Euro+ Shopping Channel  290018.52  169989.97  120028.55
13  Extreme Desk Decorations, Ltd   23627.44   13798.24    9829.20
14               FunGiftIdeas.com   30293.77   17532.54   12761.23
15                Gift Depot Inc.   28500.78   16515.27   11985.51
16              Gifts4AllAges.com   50806.85   33221.25   17585.60
17                GiftsForHim.com   36442.34   21857.14   14585.20
18               Handji Gifts& Co    2326.18    1727.65     598.53
19              Kelly's Gift Shop   30253.75   17897.08   12356.67
20            L'ordine Souveniers   35362.26   22862.59   12499.67
21              La Rochelle Gifts   91147.11   55527.04   35620.07
22                Lyon Souveniers   17928.09   10724.62    7203.47
23           Marseille Mini Autos    1834.56    1158.72     675.84
24                Mini Auto Werke    8807.12    5103.85    3703.27
25                    Mini Caravy   35157.75   21503.29   13654.46
26            Mini Creations Ltd.    8307.28    5243.64    3063.64
27   Mini Gifts Distributors Ltd.  192481.73  115084.72   77397.01
28        Oulu Toy Supplies, Inc.   46770.52   27493.61   19276.91
29                     Petit Auto    8597.73    5765.41    2832.32
30   Québec Home Shopping Network   29070.38   18351.12   10719.26
31             Reims Collectables   46656.94   28889.40   17767.54
32                   Royale Belge   14379.90    8622.10    5757.80
33          Salzburg Collectables   52420.07   33536.26   18883.81
34        Scandinavian Gift Ideas   27966.54   16420.72   11545.82
35      Souveniers And Things Co.   42251.51   25731.54   16519.97
36            Suominen Souveniers   45785.34   29109.51   16675.83
37           Technics Stores Inc.   12692.19    7060.67    5631.52
38        Tekni Collectables Inc.   43525.04   28493.70   15031.34
39      The Sharp Gifts Warehouse   83984.89   50843.02   33141.87
40        Tokyo Collectables, Ltd   34583.18   22739.71   11843.47
41           Toys of Finland, Co.   23602.90   14714.47    8888.43
42              Toys4GrownUps.com   39580.60   21887.81   17692.79
43          UK Collectables, Ltd.   37258.94   21119.36   16139.58
                             productName  quantityOrdered     venta     costo  \
0    18th Century Vintage Horse Carriage              140  13110.81   8503.60
1                  18th century schooner              157  16561.87  12927.38
2                 1900s Vintage Bi-Plane              150   8756.75   5137.50
3                1900s Vintage Tri-Plane              238  15940.74   8622.74
4                      1903 Ford Model A              126  16233.55   8605.80
..                                   ...              ...       ...       ...
104                        The Mayflower              159  11506.70   6884.70
105                       The Queen Mary              143  11771.98   7669.09
106                The Schooner Bluenose              145   8814.00   4930.00
107                          The Titanic              155  13433.86   7918.95
108            The USS Constitution Ship              131   8620.13   4450.07

     ganancia
0     4607.21
1     3634.49
2     3619.25
3     7318.00
4     7627.75
..        ...
104   4622.00
105   4102.89
106   3884.00
107   5514.91
108   4170.06

[109 rows x 5 columns]

In [13]:
#revisando el top 10
print(top_10_clientes)
print(top_10_productos)

                    customerName      venta      costo   ganancia
12        Euro+ Shopping Channel  290018.52  169989.97  120028.55
27  Mini Gifts Distributors Ltd.  192481.73  115084.72   77397.01
21             La Rochelle Gifts   91147.11   55527.04   35620.07
39     The Sharp Gifts Warehouse   83984.89   50843.02   33141.87
10    Down Under Souveniers, Inc   75020.13   46389.52   28630.61
1        Anna's Decorations, Ltd   56932.30   35414.90   21517.40
33         Salzburg Collectables   52420.07   33536.26   18883.81
16             Gifts4AllAges.com   50806.85   33221.25   17585.60
7       Corporate Gift Ideas Co.   46781.66   28561.31   18220.35
28       Oulu Toy Supplies, Inc.   46770.52   27493.61   19276.91
                                productName  quantityOrdered     venta  \
76              1992 Ferrari 360 Spider red              347  52978.28
58                       1969 Dodge Charger              272  29567.27
83                        1997 BMW R 1100 S              271  28747.69
82                         1997 BMW F650 ST              257  22469.91
39                  1956 Porsche 356A Coupe              255  31432.14
46                 1960 BSA Gold Star DBD34              242  16049.47
3                   1900s Vintage Tri-Plane              238  15940.74
89                         2002 Suzuki XREO              231  30434.09
80                    1996 Moto Guzzi 1100i              230  26139.34
31  1941 Chevrolet Special Deluxe Cabriolet              226  20918.96

       costo  ganancia
76  27031.30  25946.98
58  15974.56  13592.71
83  16493.06  12254.63
82  17198.44   5271.47
39  25066.50   6365.64
46   9031.44   7018.03
3    8622.74   7318.00
89  15308.37  15125.72
80  15867.70  10271.64
31  14595.08   6323.88

In [14]:
#Guardando reportes en SQL 
from funciones import guardar_bdatos
#definicion funcion en funciones.py: guardar_bdatos(df, nombre_tabla, engine, if_exists='fail'):


# guardar top_10_clientes en Bdatos usando la funcion
guardar_bdatos(top_10_clientes, 'top_10_clientes_2005', engine, if_exists='replace')

# top 10 productos
guardar_bdatos(top_10_productos, 'top_10_productos_2005', engine, if_exists='replace')

DataFrame guardado como top_10_clientes_2005.
DataFrame guardado como top_10_productos_2005.

In [15]:
#revision de las tablas creadas
df_top_clientes_db = funciones.leer_tabla('top_10_clientes_2005', engine)
df_top_productos_db = funciones.leer_tabla('top_10_productos_2005', engine)

#impresion de las tablas
print(df_top_clientes_db)
print(df_top_productos_db)

                   customerName      venta      costo   ganancia
0        Euro+ Shopping Channel  290018.52  169989.97  120028.55
1  Mini Gifts Distributors Ltd.  192481.73  115084.72   77397.01
2             La Rochelle Gifts   91147.11   55527.04   35620.07
3     The Sharp Gifts Warehouse   83984.89   50843.02   33141.87
4    Down Under Souveniers, Inc   75020.13   46389.52   28630.61
5       Anna's Decorations, Ltd   56932.30   35414.90   21517.40
6         Salzburg Collectables   52420.07   33536.26   18883.81
7             Gifts4AllAges.com   50806.85   33221.25   17585.60
8      Corporate Gift Ideas Co.   46781.66   28561.31   18220.35
9       Oulu Toy Supplies, Inc.   46770.52   27493.61   19276.91
                               productName  quantityOrdered     venta  \
0              1992 Ferrari 360 Spider red              347  52978.28
1                       1969 Dodge Charger              272  29567.27
2                        1997 BMW R 1100 S              271  28747.69
3                         1997 BMW F650 ST              257  22469.91
4                  1956 Porsche 356A Coupe              255  31432.14
5                 1960 BSA Gold Star DBD34              242  16049.47
6                  1900s Vintage Tri-Plane              238  15940.74
7                         2002 Suzuki XREO              231  30434.09
8                    1996 Moto Guzzi 1100i              230  26139.34
9  1941 Chevrolet Special Deluxe Cabriolet              226  20918.96

      costo  ganancia
0  27031.30  25946.98
1  15974.56  13592.71
2  16493.06  12254.63
3  17198.44   5271.47
4  25066.50   6365.64
5   9031.44   7018.03
6   8622.74   7318.00
7  15308.37  15125.72
8  15867.70  10271.64
9  14595.08   6323.88